# Data preparation pipeline

In [2]:
# import libraries
import pandas as pd
import numpy as np

In [21]:
# load dataset
data = pd.read_csv('Comune-di-Milano-Strutture-ricettive-alberghiere.csv',sep=';',encoding='unicode_escape')
data

,Ubicazione,Tipo via,Descrizione via,Civico,Codice via,ZD,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attività struture extra
0,ALZ NAVIGLIO GRANDE N. 8 (z.d. 6),ALZ,NAVIGLIO GRANDE,8.0,5144.0,6.0,14.0,NaN,4,HOTEL MAISON BORELLA,NaN,NaN,25.0,NaN,Albergo
1,codvia 0000 num.024 ; (),NaN,NaN,NaN,NaN,NaN,259.0,259,4,radisson blu hotel milan,NaN,NaN,518.0,518,Albergo
2,CSO BUENOS AIRES N. 18 (z.d. 3),CSO,BUENOS AIRES,18.0,2129.0,3.0,16.0,16,1,hotel aurora,1.0,1,25.0,25,Albergo
3,CSO BUENOS AIRES N. 26 (z.d. 3),CSO,BUENOS AIRES,26.0,2129.0,3.0,25.0,NaN,3,hotel buenos aires,NaN,NaN,39.0,NaN,Albergo
4,CSO BUENOS AIRES N. 2 (z.d. 3),CSO,BUENOS AIRES,2.0,2129.0,3.0,46.0,15;11;8,3,albergo fenice,4.0,1;2;3;4,98.0,24;19;13,Albergo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,VLE TUNISIA N. 6 (z.d. 3),VLE,TUNISIA,6.0,2121.0,3.0,13.0,16,1,hotel kennedy,1.0,6,23.0,23,Albergo
447,VLE TUNISIA N. 9 (z.d. 3),VLE,TUNISIA,9.0,2121.0,3.0,50.0,3;6;9;9;9,4,st. george hotel,NaN,A;1;2;3;4,99.0,5;16;26;26;26,Albergo
448,VLE VITTORIO VENETO N. 30 (z.d. 2),VLE,VITTORIO VENETO,30.0,2107.0,2.0,15.0,NaN,2,hotel casa mia,NaN,NaN,25.0,NaN,Albergo
449,VLE ZARA N. 1 (z.d. 9),VLE,ZARA,1.0,1170.0,9.0,32.0,NaN,4,casa albergo residence zara lagosta,NaN,NaN,64.0,NaN,Residence
450,VLE ZARA N. 89 (z.d. 9),VLE,ZARA,89.0,1170.0,9.0,22.0,12;7;4,3,hotel gala,3.0,R;1;2,35.0,20;12;7,Albergo

## Data profiling
Extracts metadata and statistics

In [ ]:
print(data.dtypes)

In [ ]:
#Check the number of unique values in each column
rows=data.shape[0]
print("Total rows:",rows)
for col in data.columns:
    print("Column",col,"has", data[col].nunique(), "unique values")

Ydata profiling

In [ ]:
import sys
!{sys.executable} -m pip install -U "ydata-profiling[notebook]"
!pip install jupyter-contrib-nbextensions

In [ ]:
!jupyter nbextension enable --py widgetsnbextension

In [ ]:
!pip install dataprofiler

In [ ]:
from ydata_profiling import ProfileReport
import pandas as pd
import json

In [ ]:
profile= ProfileReport(data, title="data report")
profile

In [ ]:
profile.to_file("data_report.html")

Do a report also fer the cleaned dataset

In [ ]:
profile.to_file("data_report.json")

In [ ]:
file = open("data_report.json")
jsonFile=json.load(file)

Functional dependencies

In [ ]:
!git clone https://github.com/camillasancricca/DATADIQ.git

In [ ]:
from DATADIQ import tane
from DATADIQ import ctane

In [ ]:
source='Comune-di-Milano-Strutture-ricettive-alberghiere.csv'
tane.compute(source)

In [ ]:
ctane.compute(source,0.5)

In [ ]:
import sys
sys.path.append('SCRIPTS')
import fdtool

In [ ]:
source='Comune-di-Milano-Strutture-ricettive-alberghiere.csv'
fdtool.main(source)

In [ ]:
!pip install desbordante==2.3.2

In [ ]:
import desbordante as db
import pandas as pd

In [ ]:
df = data
algo = db.fd.algorithms.Default()
algo.load_data(table=df)
algo.execute()
print('FDs:')
for fd in algo.get_fds():
    print(fd)

Association rules

In [ ]:
!pip install mlxtend pyECLAT efficient-apriori plotly

In [ ]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [ ]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import plotly.express as px
from mlxtend.frequent_patterns import fpgrowth
from pyECLAT import ECLAT
from DATADIQ import eff_apriori
import plotly.offline as pyo

In [ ]:
#Put all items of each transactions into a list
records = []
for i in range (0, len(data)):
    records.append([str(data.values[i,j]) for j in range(0, 15)])

In [ ]:
#Initializing the transactionEncoder
TE = TransactionEncoder()
array = TE.fit(records).transform(records)

In [ ]:
#Building the data frame rows are logical and columns are the items have been purchased
transf_df = pd.DataFrame(array, columns = TE.columns_)
transf_df

In [ ]:
#Drop NaN
basket_clean = transf_df.drop(['nan'], axis = 1)
basket_clean

In [ ]:
#Chose 0.03 minimum support
a_rules = apriori(basket_clean, min_support = 0.03, use_colnames = True)
a_rules['length'] = a_rules['itemsets'].apply(lambda x: len(x))

In [ ]:
#Frequent itemset
a_rules

In [ ]:
#Chose 0.05 minimum confidence
rules = association_rules(a_rules, metric = 'confidence', min_threshold = 0.80)
rules

In [ ]:
eff_apriori.rules(data,0.1,1)

## Data quality assessment
Calculate a number for each of the data quality dimensions

Duplication

In [ ]:
data.duplicated().any()
#There are no rows exaclty duplicated in the dataset

Completeness

In [ ]:
print("Total rows:",data.shape[0])
print(data.count()) #number of not null values

In [ ]:
#Completeness
Null=data.isnull().sum().sum()
Not_null=data.count().sum()
Total=Null+Not_null
Completeness=Not_null/Total
Completeness = '{:.2%}'.format(Completeness)
Completeness

In [ ]:
#Check if there are other common values representing NaN
np.sum(data.isin(['na','-','--','nan','null']))

Accuracy, timeliness and consistency cannot be assessed since we don't have the ground truth

Consistency if we know some dependencies

# Data Cleaning
## Data transformation/standardization

Data wrangling

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ubicazione                    451 non-null    object
 1   Tipo via                      437 non-null    object
 2   Descrizione via               437 non-null    object
 3   Civico                        421 non-null    float64
 4   Codice via                    437 non-null    float64
 5   ZD                            437 non-null    float64
 6   Camere                        450 non-null    float64
 7   Camere piano                  345 non-null    object
 8   Categoria                     444 non-null    object
 9   Insegna                       441 non-null    object
 10  Piani totali                  187 non-null    float64
 11  Piano piano                   199 non-null    object
 12  Posti letto                   450 non-null    float64
 13  Posti letto per piano         345 non-null    object
 14  Tipo attività struture extra  441 non-null    object
dtypes: float64(6), object(9)
memory usage: 53.0+ KB

In ubicazione ci sono tipo via, nome, civico e Municipio, si possono usare questi dati per riempire i valori nulli delle colonne e poi droppare ubicazione

In [5]:
data["Ubicazione"].unique()

#si potrebbe separare la via dal numero

array(['ALZ NAVIGLIO GRANDE N. 8 (z.d. 6)', 'codvia 0000 num.024  ; ()',
       'CSO BUENOS AIRES N. 18 (z.d. 3)',
       'CSO BUENOS AIRES N. 26 (z.d. 3)',
       'CSO BUENOS AIRES N. 2 (z.d. 3)',
       'CSO BUENOS AIRES N. 33 (z.d. 3)',
       'CSO BUENOS AIRES N. 3 (z.d. 3)',
       'CSO COLOMBO CRISTOFORO N. 15 (z.d. 6)',
       'CSO CONCORDIA N. 1 (z.d. 3)',
       'CSO DI PORTA ROMANA N. 48 (z.d. 1)',
       'CSO DI PORTA ROMANA N. 64 (z.d. 1)', 'CSO EUROPA N. 9 (z.d. 1)',
       'CSO GARIBALDI GIUSEPPE N. 68 (z.d. 1)',
       'CSO GARIBALDI GIUSEPPE N. 84 (z.d. 1)',
       'CSO ITALIA N. 34 (z.d. 1)', 'CSO ITALIA num.011/a ; (z.d. 1)',
       'CSO LODI N. 4 (z.d. 5)', 'CSO LODI N. 74 (z.d. 4)',
       'CSO MAGENTA N. 61 (z.d. 1)', 'CSO MAGENTA N. 78 (z.d. 1)',
       'CSO MAGENTA num.019 ; (z.d. 1)',
       'CSO MATTEOTTI GIACOMO num.004/6 cinque stelle lusso; (z.d. 1)',
       'CSO SEMPIONE N. 69 (z.d. 8)', 'CSO SEMPIONE num.091 ; (z.d. 8)',
       'CSO VENTIDUE MARZO N. 32 (z.d. 4)',
       'CSO VENTIDUE MARZO N. 43 (z.d. 4)', 'CSO VERCELLI N. 1 (z.d. 7)',
       'CSO VERCELLI N. 55 (z.d. 7)', 'CSO VERCELLI N. 61 (z.d. 7)',
       'GLL BUENOS AIRES N. 5 sembra avere come indirizzo ufficiale corso buenos aires 42 ma ermes non riconosce il civico (z.d. 3)',
       'GLL DEL CORSO N. 3 (z.d. 1)', 'LGO AUGUSTO N. 10 (z.d. 1)',
       'LGO CARROBBIO num.002 ;', 'LGO RIO DE JANEIRO N. 12 (z.d. 3)',
       'PLE CORVETTO LUIGI EMANUELE N. 5 (z.d. 4)',
       'PLE LOTTO LORENZO N. 14 (z.d. 8)',
       'PLE PRINCIPESSA CLOTILDE N. 10 (z.d. 9)',
       'PLE TRIPOLI N. 3 (z.d. 6)', 'PZA ASPROMONTE N. 18 (z.d. 3)',
       'PZA ASPROMONTE N. 22 (z.d. 3)',
       'PZA ASPROMONTE num.012/14 ; (z.d. 3)',
       'PZA BECCARIA CESARE N. 6 subingresso con riduzione came; (z.d. 1)',
       'PZA BUONARROTI MICHELANGELO N. 31 r.t.a.con 23 alloggi e 24 p.l.; (z.d. 7)',
       'PZA CINQUE GIORNATE N. 6 (z.d. 1)',
       'PZA DEL DUOMO N. 25 (z.d. 1)',
       'PZA DELLA REPUBBLICA N. 13 (z.d. 2)',
       'PZA DELLA REPUBBLICA N. 17 (z.d. 2)',
       'PZA DELLA REPUBBLICA N. 20 (z.d. 2)',
       "PZA DUCA D'AOSTA N. 16 (z.d. 2)",
       "PZA DUCA D'AOSTA N. 9 (z.d. 2)", 'PZA FONTANA N. 3 (z.d. 1)',
       'PZA GERUSALEMME N. 12 (z.d. 8)', 'PZA GERUSALEMME N. 6 (z.d. 8)',
       'PZA LEONARDO DA VINCI N. 10 (z.d. 3)',
       'PZA LIMA N. 2 num.001 ; (z.d. 3)',
       'PZA LUIGI DI SAVOIA N. 20 (z.d. 2)',
       'PZA MISSORI GIUSEPPE N. 1 (z.d. 1)',
       'PZA OBERDAN GUGLIELMO N. 12 (z.d. 3)',
       'PZA SANTA MARIA BELTRADE N. 4 (z.d. 1)',
       'PZA SANTA MARIA DEL SUFFRAGIO N. 3 (z.d. 4)',
       "PZA SANT' EUSTORGIO N. 2 (z.d. 1)",
       'VIA AIRAGHI GAETANO N. 125 num.000 ; (z.d. 7)',
       'VIA AJRAGHI CESARE N. 30 suap; (z.d. 8)',
       'VIA ALBRICCI ALBERICO N. 4 (z.d. 1)',
       'VIA ANTONIO DA RECANATE N. 2 (z.d. 2)', 'VIA AOSTA N. 2 (z.d. 8)',
       'VIA ARCHIMEDE N. 121 (z.d. 4)', 'VIA ARCHIMEDE N. 79 (z.d. 4)',
       'VIA ARCHIMEDE num.086/88 ;',
       'VIA ARIMONDI GIUSEPPE N. 12 (z.d. 8)',
       'VIA ARIOSTO LODOVICO N. 22 (z.d. 1)', 'VIA ASTOLFO N. 5 (z.d. 3)',
       'VIA ASTOLFO N. 6 (z.d. 3)', 'VIA BAMBAIA N. 4 (z.d. 2)',
       'VIA BARACCHINI FLAVIO N. 12 (z.d. 1)',
       'VIA BARTOLOZZI FRANCESCO N. 9 (z.d. 4)',
       'VIA BASSI UGO num.001/a ; (z.d. 9)',
       "VIA BENEFATTORI DELL'OSPEDALE N. 24 (z.d. 9)",
       'VIA BONNET NINO num.006/b ;', 'VIA BORGONUOVO N. 1 (z.d. 1)',
       'VIA BORROMEI N. 4 (z.d. 1)',
       'VIA BOSCOVICH RUGGERO N. 21 deleg. somministr. zheng ruile; (z.d. 2)',
       'VIA BOSCOVICH RUGGERO N. 43 (z.d. 3)',
       'VIA BOSCOVICH RUGGERO N. 59 (z.d. 3)',
       'VIA BREMBO N. 27 (z.d. 5)', 'VIA BRESSANONE num.004/a ; ()',
       'VIA BRIVIO CESARE N. 33 (z.d. 9)',
       'VIA BROGLIO EMILIO N. 28 (z.d. 9)', 'VIA BROLETTO N. 46 (z.d. 1)',
       'VIA BUONARROTI MICHELANGELO N. 13 (z.d. 7)',
       'VIA BUTTI ENRICO N. 9 (z.d. 9)',
       'VIA CACCIANINO ANTONIO N. 10 (z.d. 3)',
       'VIA CADIBONA N. 2 (z.d. 4)', 'VIA CALVI PIETRO N. 32 (z.d. 4)',
       'VIA CANONICA LUIGI N. 38 (z.d. 1)',
       'VIA CANONICA LUIGI N. 79 (z.d. 8)',
       'VIA CAPPELLINI ALFREDO N. 18 (z.d. 2)',
       'VIA CARCANO FILIPPO N. 37 (z.d. 7)',
       'VIA CARCANO FILIPPO N. 39 (z.d. 7)',
       'VIA CARCANO FILIPPO N. 47 (z.d. 7)',
       'VIA CARDANO GEROLAMO N. 1 (z.d. 9)',
       'VIA CASATI FELICE N. 18 (z.d. 3)',
       'VIA CASELLA GIOVANNI BATTISTA N. 61 (z.d. 8)',
       'VIA CASTALDI PANFILO N. 16 (z.d. 3)',
       'VIA CASTALDI PANFILO N. 17 (z.d. 3)',
       'VIA CASTALDI PANFILO N. 26 (z.d. 3)',
       'VIA CASTALDI PANFILO N. 7 (z.d. 2)',
       'VIA CASTELFIDARDO N. 2 (z.d. 1)',
       'VIA CATALANI ALFREDO N. 69 (z.d. 3)',
       'VIA CATALANI ALFREDO N. 71 (z.d. 3)',
       'VIA CERVA N. 16 residence cerva; (z.d. 1)',
       'VIA CESARI ANTONIO N. 19 (z.d. 9)', 'VIA CESENA N. 20 (z.d. 8)',
       'VIA CIMAROSA DOMENICO N. 19 (z.d. 7)',
       'VIA CIMAROSA DOMENICO N. 6 (z.d. 7)',
       'VIA COLA MONTANO N. 29 (z.d. 9)',
       'VIA COLOMBO GIUSEPPE N. 14 (z.d. 3)',
       'VIA COLONNA VITTORIA N. 48 (z.d. 7)',
       'VIA CONCA DEL NAVIGLIO N. 20 (z.d. 1)',
       "VIA COPERNICO NICOLO' num.018/20 ; (z.d. 2)",
       'VIA CORNALIA EMILIO N. 7 (z.d. 9)',
       'VIA CORRENTI CESARE N. 13 (z.d. 1)',
       "VIA CORTINA D'AMPEZZO N. 17 (z.d. 5)",
       'VIA CUSANI N. 13 (z.d. 1)', 'VIA CUSTODI PIETRO N. 2 (z.d. 5)',
       'VIA DAL POZZO TOSCANELLI PAOLO N. 4 (z.d. 2)',
       'VIA DANDOLO ENRICO N. 2 (z.d. 1)',
       'VIA DE ALBERTIS SEBASTIANO N. 7 (z.d. 3)',
       'VIA DE CRISTOFORIS CARLO N. 6 (z.d. 9)',
       'VIA DEI BOSSI N. 5 (z.d. 1)', 'VIA DEI FONTANILI N. 26 (z.d. 5)',
       'VIA DEI MISSAGLIA N. 14 (z.d. 5)',
       'VIA DELLA GIUSTIZIA N. 10 (z.d. 2)',
       'VIA DELLE FORZE ARMATE N. 8 (z.d. 7)',
       "VIA DELL' ORSO N. 7 (z.d. 1)", 'VIA DEL MARE N. 93 (z.d. 5)',
       'VIA DESENZANO N. 12 (z.d. 7)',
       'VIA DI TOCQUEVILLE ALESSIO N. 7 numero civico 7/d; (z.d. 9)',
       'VIA DOMENICHINO N. 41 (z.d. 7)', 'VIA DOMODOSSOLA N. 16 (z.d. 8)',
       'VIA DONATELLO num.010/12 ; (z.d. 3)', 'VIA EDOLO N. 18 (z.d. 2)',
       'VIA FARINI CARLO num.001/a ; (z.d. 8)',
       'VIA FATEBENEFRATELLI N. 21 (z.d. 1)',
       "VIA FAUCHE' GIOVANNI BATTISTA N. 15 (z.d. 8)",
       'VIA FELTRE N. 19 n. civico 19/b (z.d. 3)',
       'VIA FERRUCCI FRANCESCO N. 10 (z.d. 8)',
       'VIA FILZI FABIO N. 3 (z.d. 2)', 'VIA FILZI FABIO N. 43 (z.d. 2)',
       'VIA FILZI FABIO num.025/a ; (z.d. 2)',
       'VIA FINOCCHIARO APRILE N. 11 (z.d. 2)',
       'VIA FINOCCHIARO APRILE N. 2 (z.d. 2)',
       'VIA F.LLI GABBA N. 7 (z.d. 1)', 'VIA FLUMENDOSA N. 35 (z.d. 2)',
       'VIA FORCELLA VINCENZO N. 6 (z.d. 6)',
       "VIA FRA' GALGARIO N. 4 (z.d. 7)",
       'VIA FRASSINETTI ROMEO N. 2 (z.d. 7)',
       'VIA FUMAGALLI ANGELO CARLO N. 4 (z.d. 6)',
       'VIA GAFFURIO FRANCHINO N. 1 (z.d. 3)',
       'VIA GAGGIA PIETRO N. 3 (z.d. 4)',
       'VIA GALILEI GALILEO N. 2 (z.d. 2)', 'VIA GALLARATE N. 2 (z.d. 8)',
       'VIA GALLINA GIACINTO N. 12 (z.d. 3)',
       'VIA GALLI RICCARDO N. 8 (z.d. 8)',
       'VIA GALVANI LUIGI N. 12 (z.d. 2)',
       'VIA GASPAROTTO LEOPOLDO N. 8 (z.d. 2)',
       "VIA GESU' N. 10 (z.d. 1)", 'VIA GHIBERTI LORENZO N. 1 (z.d. 7)',
       'VIA GIAMBELLINO N. 9 (z.d. 6)',
       'VIA GIOIA MELCHIORRE N. 6 (z.d. 9)',
       'VIA GIOIA MELCHIORRE N. 73 (z.d. 2)',
       'VIA GIULINI GIORGIO N. 6 (z.d. 1)',
       'VIA GIUSTI GIUSEPPE N. 6 (z.d. 1)',
       'VIA GOLDONI CARLO N. 31 iniziale; (z.d. 6)',
       'VIA GOLDONI CARLO N. 31 (z.d. 6)',
       'VIA GOLDONI CARLO N. 84 3 e 4 piano; (z.d. 6)',
       'VIA GOLDONI CARLO N. 84 via goldoni 84 2^ piano; (z.d. 3)',
       'VIA GROSSI TOMMASO N. 1 licenza rilasciata dallo suap; (z.d. 1)',
       'VIA HAJECH CAMILLO N. 18 (z.d. 4)',
       'VIA HOEPLI ULRICO N. 6 (z.d. 1)',
       'VIA INGEGNOLI FRANCESCO N. 20 (z.d. 3)',
       'VIA IPPODROMO N. 8 (z.d. 8)',
       'VIA JACOPO DELLA QUERCIA N. 6 (z.d. 7)',
       "VIA JOMMELLI NICCOLO' N. 49 (z.d. 3)",
       'VIA LAMBRATE N. 9 (z.d. 3)', 'VIA LAMPEDUSA N. 11 (z.d. 5)',
       'VIA LAMPEDUSA num.011/a ; (z.d. 5)', 'VIA LARIO N. 40 (z.d. 9)',
       'VIA LAZZARETTO N. 10 (z.d. 3)', 'VIA LAZZARETTO N. 17 (z.d. 2)',
       'VIA LAZZARETTO N. 5 angolo finocchiaro aprile; (z.d. 2)',
       'VIA LENTASIO N. 3 (z.d. 1)', 'VIA LEPETIT ROBERTO N. 15 (z.d. 2)',
       'VIA LEPETIT ROBERTO N. 33 (z.d. 2)',
       'VIA LEPETIT ROBERTO N. 7 (z.d. 2)', 'VIA LEPONTINA N. 8 (z.d. 9)',
       'VIA LIPPI FILIPPINO N. 28 (z.d. 3)',
       'VIA LIPPI FILIPPINO N. 43 (z.d. 3)',
       'VIA LIPPI FILIPPINO N. 50 (z.d. 3)',
       'VIA LODOVICO IL MORO N. 117 (z.d. 6)',
       'VIA LOMBARDI RICCARDO N. 11 annessa dipendenza 3 stelle; (z.d. 7)',
       'VIA LORENTEGGIO num.278 ;',
       'VIA LUDOVICO DI BREME N. 77 (z.d. 8)',
       'VIA LULLI GIOVANNI N. 11 (z.d. 3)',
       'VIA LULLI GIOVANNI N. 18 (z.d. 3)',
       'VIA LULLI GIOVANNI N. 22 (z.d. 3)',
       'VIA LULLI GIOVANNI N. 4 (z.d. 3)',
       'VIA MACCHI MAURO N. 1 (z.d. 2)',
       'VIA MACCHI MAURO N. 49 (z.d. 2)',
       'VIA MACCHI MAURO N. 79 (z.d. 2)',
       'VIA MAC MAHON num.045/a ; (z.d. 8)',
       'VIA MANIN DANIELE N. 7 (z.d. 1)',
       'VIA MANZONI ALESSANDRO N. 29 (z.d. 1)',
       'VIA MANZONI ALESSANDRO N. 31 (z.d. 1)',
       'VIA MARCELLO BENEDETTO N. 47 (z.d. 3)',
       'VIA MARCELLO BENEDETTO N. 59 (z.d. 3)',
       'VIA MARCELLO BENEDETTO N. 83 (z.d. 3)',
       "VIA MARCO D'AGRATE N. 35 (z.d. 5)",
       'VIA MARCO POLO N. 13 (z.d. 9)', 'VIA MARGHERA N. 14 (z.d. 7)',
       'VIA MARGHERA N. 2 (z.d. 7)', 'VIA MASACCIO N. 19 (z.d. 8)',
       'VIA MAZZINI GIUSEPPE N. 10 (z.d. 1)',
       'VIA MAZZINI GIUSEPPE N. 4 (z.d. 1)',
       'VIA MAZZINI GIUSEPPE N. 8 (z.d. 1)',
       'VIA MECENATE N. 121 (z.d. 4)',
       'VIA MELLONI MACEDONIO N. 17 (z.d. 4)',
       'VIA MERCATO N. 1 (z.d. 1)', 'VIA MESSINA N. 10 (z.d. 8)',
       'VIA MODENA GUSTAVO N. 20 (z.d. 3)',
       'VIA MODENA GUSTAVO N. 4 (z.d. 3)',
       "VIA MOLINO DELLE ARMI N. 1 attivita' promiscua rta e albe; (z.d. 1)",
       'VIA MONETA num.001/a ; (z.d. 1)', 'VIA MONTE ROSA N. 90 (z.d. 8)',
       'VIA MONTESSORI MARIA N. 14 (z.d. 4)', 'VIA MORIGI N. 2 (z.d. 1)',
       'VIA MURAT GIOACCHINO N. 21 (z.d. 9)',
       'VIA MURATORI LODOVICO N. 14 (z.d. 4)',
       'VIA MURATORI LODOVICO N. 5 (z.d. 4)',
       'VIA NICOTERA GIOVANNI N. 9 (z.d. 9)',
       'VIA NOVARA N. 371 (z.d. 7)', 'VIA OLGETTINA N. 60 (z.d. 3)',
       'VIA ORNATO LUIGI N. 64 (z.d. 9)',
       'VIA ORSEOLO PIETRO N. 1 (z.d. 6)',
       'VIA OSIMO AUGUSTO N. 10 (z.d. 4)',
       'VIA OZANAM FEDERICO N. 12 (z.d. 3)',
       "VIA PAGANINI NICCOLO' N. 6 (z.d. 3)",
       "VIA PAGANINI NICCOLO' N. 7 (z.d. 3)",
       'VIA PALADINI ETTORE N. 7 (z.d. 3)',
       'VIA PALAZZI LAZZARO N. 18 (z.d. 3)',
       'VIA PALLADIO ANDREA N. 8 (z.d. 5)',
       'VIA PALMANOVA N. 153 (z.d. 2)',
       'VIA PALMIERI NICOLA N. 64 (z.d. 5)',
       'VIA PANIZZA BARTOLOMEO N. 5 2^  e 4° piano; (z.d. 7)',
       'VIA PANTANO N. 8 (z.d. 1)', 'VIA PAPI LAZZARO N. 18 (z.d. 4)',
       'VIA PECCHIO GIUSEPPE N. 2 (z.d. 3)',
       'VIA PELLIZZONE ANDREA N. 12 (z.d. 3)',
       'VIA PERUGINO N. 12 (z.d. 4)',
       'VIA PESTALOZZA ALESSANDRO N. 28 (z.d. 3)',
       'VIA PIACENZA N. 4 (z.d. 5)', 'VIA PICCINNI NICOLA N. 25 (z.d. 3)',
       'VIA PIERLUIGI GIOVANNI DA PALESTRINA num.030 ; (z.d. 2)',
       'VIA PIERO DELLA FRANCESCA N. 39 (z.d. 8)',
       'VIA PIERO DELLA FRANCESCA N. 48 (z.d. 8)',
       'VIA PIERO DELLA FRANCESCA N. 60 (z.d. 8)',
       'VIA PIERO DELLA FRANCESCA num.004/7 ; (z.d. 8)',
       'VIA PIRELLI GIOVANNI BATTISTA N. 5 (z.d. 2)',
       'VIA PIRELLI GIOVANNI BATTISTA N. 7 (z.d. 2)',
       'VIA PLINIO CAIO SECONDO N. 22 (z.d. 3)',
       'VIA PLINIO CAIO SECONDO N. 2 (z.d. 3)',
       'VIA POERIO CARLO N. 32 (z.d. 3)', 'VIA POLA N. 4 (z.d. 2)',
       'VIA POLIZIANO N. 11 (z.d. 8)', 'VIA POLONIA N. 10 (z.d. 8)',
       'VIA POMPONAZZI PIETRO N. 3 rta due stelle-appartam 7-14pl; (z.d. 5)',
       'VIA PONTE SEVESO N. 38 (z.d. 2)', 'VIA PORLEZZA N. 4 (z.d. 1)',
       'VIA PORPORA NICOLA ANTONIO N. 132 (z.d. 3)',
       'VIA PORPORA NICOLA ANTONIO N. 143 (z.d. 3)',
       'VIA PORPORA NICOLA ANTONIO N. 16 (z.d. 3)',
       'VIA PORPORA NICOLA ANTONIO N. 170 (z.d. 3)',
       'VIA PORPORA NICOLA ANTONIO N. 18 (z.d. 3)',
       'VIA PORPORA NICOLA ANTONIO N. 52 (z.d. 3)',
       'VIA PORPORA NICOLA ANTONIO N. 56 (z.d. 3)',
       'VIA PORPORA NICOLA ANTONIO N. 87 (z.d. 3)',
       'VIA PORRO EDOARDO N. 8 (z.d. 9)',
       'VIA PRATI GIOVANNI N. 6 (z.d. 8)',
       'VIA PRINCIPE EUGENIO N. 45 (z.d. 8)',
       'VIA QUARNERO N. 4 (z.d. 7)', 'VIA RANCATI ILARIONE N. 3 (z.d. 2)',
       'VIA REINA FRANCESCO N. 18 (z.d. 4)',
       'VIA RENZO E LUCIA N. 14 (z.d. 5)',
       'VIA RICORDI GIOVANNI N. 10 (z.d. 3)',
       'VIA RICORDI GIOVANNI N. 14 (z.d. 3)',
       'VIA RICORDI GIOVANNI N. 20 (z.d. 3)',
       'VIA RIPAMONTI GIUSEPPE N. 102 (z.d. 5)',
       'VIA RIPAMONTI GIUSEPPE N. 134 (z.d. 5)',
       'VIA ROSSI PELLEGRINO N. 59 (z.d. 9)',
       'VIA ROVELLO N. 10 (z.d. 1)', 'VIA ROVELLO N. 3 (z.d. 1)',
       'VIA RUBENS PIETRO N. 21 (z.d. 7)', 'VIA RUTILIA N. 6 (z.d. 5)',
       'VIA SACCHINI ANTONIO GASPARE N. 17 (z.d. 3)',
       'VIA SACCHINI ANTONIO GASPARE N. 19 (z.d. 3)',
       'VIA SALDINI CESARE N. 24 (z.d. 3)',
       'VIA SAMMARTINI GIOVANNI BATTISTA N. 15 1ø piano; (z.d. 2)',
       'VIA SAMMARTINI GIOVANNI BATTISTA N. 15 (z.d. 2)',
       'VIA SANGIORGIO ABBONDIO N. 16 (z.d. 1)',
       'VIA SAN MAMETE N. 12 (z.d. 2)', 'VIA SAN RAFFAELE N. 3 (z.d. 1)',
       'VIA SAN RAFFAELE N. 6 via san raffaele 7/9; (z.d. 1)',
       'VIA SANTA MARIA FULCORINA N. 15 (z.d. 1)',
       'VIA SANTA RADEGONDA N. 14 (z.d. 1)',
       'VIA PELLICO SILVIO N. 8 (z.d. 1)',
       'VIA SANTA SOFIA N. 10 (z.d. 1)', 'VIA SANTA SOFIA N. 16 (z.d. 1)',
       'VIA SAN TOMASO N. 8 Int. a (z.d. 1)', 'VIA SARONNO N. 5 (z.d. 8)',
       'VIA SCARLATTI DOMENICO N. 22 (z.d. 3)',
       'VIA SCARLATTI DOMENICO N. 24 (z.d. 2)',
       'VIA SCARLATTI DOMENICO N. 32 (z.d. 2)',
       'VIA SCARLATTI DOMENICO N. 33 (z.d. 2)',
       'VIA SCIALOIA VITTORIO N. 3 (z.d. 9)', 'VIA SENATO N. 5 (z.d. 1)',
       'VIA SENIGALLIA N. 6 (z.d. 9)',
       'VIA SETTALA LODOVICO N. 56 (z.d. 3)',
       'VIA SETTALA LODOVICO N. 76 (z.d. 3)',
       'VIA SFORZA ASCANIO N. 73 (z.d. 5)',
       'VIA SFORZA ASCANIO N. 81 (z.d. 5)',
       'VIA SIGIERI GOFFREDO N. 3 (z.d. 4)',
       'VIA SILVA GUGLIELMO num.012 ; (z.d. 8)',
       'VIA SIRACUSA num.005/7 ; (z.d. 1)', 'VIA SIRTE N. 9 (z.d. 6)',
       'VIA SIRTORI GIUSEPPE N. 24 (z.d. 3)',
       'VIA SOPERGA N. 19 (z.d. 2)', 'VIA SOPERGA N. 24 (z.d. 2)',
       'VIA SOTTOCORNO PASQUALE N. 8 (z.d. 4)',
       'VIA SPADARI N. 11 (z.d. 1)',
       'VIA SPALLANZANI LAZZARO N. 27 (z.d. 3)',
       'VIA SPALLANZANI LAZZARO N. 40 (z.d. 3)',
       'VIA SPEZIA N. 25 rilascio licenza dallo suap; (z.d. 5)',
       'VIA SPINOLA AMBROGIO N. 9 (z.d. 8)',
       'VIA SPONTINI GASPARE N. 6 (z.d. 3)',
       "VIA STAMIRA D'ANCONA N. 27 (z.d. 2)",
       'VIA STEPHENSON GIORGIO Int. 55',
       'VIA TADINO ALESSANDRO N. 27 (z.d. 3)',
       'VIA TARCHETTI IGINIO UGO N. 2 (z.d. 1)',
       'VIA TAZZOLI ENRICO N. 2 (z.d. 9)',
       'VIA TAZZOLI ENRICO N. 7 (z.d. 9)',
       'VIA TENCA CARLO N. 11 (z.d. 2)', 'VIA TENCA CARLO N. 12 (z.d. 2)',
       'VIA TENCA CARLO N. 21 (z.d. 2)', 'VIA TEODOSIO N. 37 (z.d. 3)',
       'VIA TITO LIVIO N. 4 (z.d. 4)',
       'VIA TIZIANO VECELLIO N. 6 (z.d. 8)',
       'VIA TOFFETTI VINCENZO N. 4 (z.d. 4)', 'VIA TONALE N. 14 (z.d. 2)',
       'VIA TONALE N. 2 (z.d. 2)', 'VIA TORRAZZA N. 15 (z.d. 8)',
       'VIA TORRIANI NAPO N. 14 (z.d. 2)',
       'VIA TORRIANI NAPO N. 15 (z.d. 2)',
       'VIA TORRIANI NAPO N. 17 sportello unico; (z.d. 2)',
       'VIA TORRIANI NAPO N. 18 (z.d. 2)',
       'VIA TORRIANI NAPO N. 21 (z.d. 2)',
       'VIA TORRIANI NAPO N. 23 (z.d. 2)',
       'VIA TORRIANI NAPO N. 24 (z.d. 2)',
       'VIA TORRIANI NAPO N. 27 (z.d. 2)',
       'VIA TORRIANI NAPO N. 28 (z.d. 2)',
       'VIA TORRIANI NAPO N. 29 (z.d. 2)', 'VIA TORTONA N. 35 (z.d. 6)',
       'VIA TRIESTE N. 15 (z.d. 7)',
       'VIA TRIVULZIO ANTONIO TOLOMEO N. 8 (z.d. 7)',
       'VIA UGOLINI GIUSEPPE num.021/3 ; (z.d. 9)',
       'VIA VALLAZZE N. 14 (z.d. 3)', 'VIA VALLAZZE N. 39 (z.d. 3)',
       'VIA VALVASSORI PERONI CARLO N. 85 (z.d. 3)',
       "VIA VARE' GIOVANNI BATTISTA N. 32 (z.d. 9)",
       'VIA VENEZIA GIULIA N. 9 (z.d. 8)',
       'VIA VENINI GIULIO E CORRADO N. 59 (z.d. 2)',
       'VIA VIGEVANO N. 13 (z.d. 6)', 'VIA VILLAPIZZONE N. 24 (z.d. 8)',
       'VIA VISERBA num.018/a ; ()', 'VIA VITRUVIO N. 18 (z.d. 3)',
       'VIA VITRUVIO N. 20 (z.d. 3)', 'VIA VITRUVIO N. 24 (z.d. 3)',
       'VIA VITRUVIO N. 28 (z.d. 3)', 'VIA VITRUVIO N. 29 (z.d. 3)',
       'VIA VITRUVIO N. 43 (z.d. 2)', 'VIA VITRUVIO N. 48 (z.d. 3)',
       'VIA WASHINGTON GIORGIO N. 42 (z.d. 7)',
       'VIA WASHINGTON GIORGIO N. 66 (z.d. 7)',
       'VIA WATT GIACOMO N. 13 (z.d. 6)', 'VLE ABRUZZI N. 67 (z.d. 3)',
       'VLE ARGONNE N. 14 (z.d. 4)', 'VLE BERENGARIO N. 3 (z.d. 8)',
       'VLE BLIGNY N. 23 (z.d. 5)', 'VLE BLIGNY N. 56 (z.d. 5)',
       'VLE BRENTA N. 33 (z.d. 4)', 'VLE CERTOSA N. 108 (z.d. 8)',
       'VLE CERTOSA N. 26 (z.d. 8)', 'VLE CERTOSA N. 68 (z.d. 8)',
       'VLE CERTOSA N. 88 (z.d. 8)', 'VLE DEI MILLE N. 24 (z.d. 3)',
       'VLE DEI MILLE N. 48 (z.d. 3)',
       'VLE DEI MILLE num.060/62 ; (z.d. 3)',
       'VLE DORIA ANDREA N. 22 (z.d. 3)',
       'VLE DORIA ANDREA N. 4 (z.d. 2)',
       'VLE ESPINASSE CARLO N. 22 (z.d. 8)',
       'VLE FAENZA N. 12/13 (z.d. 6)', 'VLE FAMAGOSTA N. 48 (z.d. 6)',
       'VLE FAMAGOSTA N. 50 (z.d. 6)', 'VLE ISONZO N. 14 (z.d. 5)',
       'VLE ISONZO N. 2 (z.d. 5)', 'VLE LOMBARDIA N. 20 (z.d. 3)',
       'VLE LOMBARDIA N. 55 licenza rilasciata dallo sport; (z.d. 3)',
       'VLE LOMBARDIA N. 59 (z.d. 3)', 'VLE LOMBARDIA N. 74 (z.d. 3)',
       'VLE MONTE GRAPPA N. 12 (z.d. 9)', 'VLE MONZA N. 120 (z.d. 2)',
       'VLE MONZA N. 132 ang. via petrocchi n. 1; (z.d. 2)',
       'VLE MONZA N. 139 (z.d. 2)', 'VLE MURILLO S.B. N. 22 (z.d. 7)',
       'VLE MURILLO S.B. N. 9 (z.d. 7)', 'VLE PAPINIANO N. 14 (z.d. 1)',
       'VLE PIAVE N. 42 (z.d. 3)', 'VLE PIAVE N. 5 2ø piano; (z.d. 1)',
       'VLE PICENO N. 33 (z.d. 4)', 'VLE SABOTINO N. 16 (z.d. 5)',
       'VLE STURZO DON LUIGI N. 45 (z.d. 9)',
       'VLE SUZZANI GIOVANNI N. 13 (z.d. 9)',
       'VLE SUZZANI GIOVANNI num.013/15 ; (z.d. 9)',
       'VLE TESTI FULVIO N. 300 (z.d. 9)', 'VLE TUNISIA N. 6 (z.d. 3)',
       'VLE TUNISIA N. 9 (z.d. 3)', 'VLE VITTORIO VENETO N. 30 (z.d. 2)',
       'VLE ZARA N. 1 (z.d. 9)', 'VLE ZARA N. 89 (z.d. 9)'], dtype=object)

In [4]:
data["ZD"].unique()

array([ 6., nan,  3.,  1.,  5.,  4.,  8.,  7.,  9.,  2.])

In [7]:
data[data['Municipio'].isnull()] # Si possono riempire con (z.d. )

,Ubicazione,Tipo via,Descrizione via,Civico,Codice via,Municipio,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attività struture extra
1,codvia 0000 num.024 ; (),NaN,NaN,NaN,NaN,NaN,259.0,259,4,radisson blu hotel milan,NaN,NaN,518.0,518,Albergo
16,CSO ITALIA num.011/a ; (z.d. 1),NaN,NaN,NaN,NaN,NaN,39.0,8;16;17,3,hotel zurigio,3.0,T;1;2,70.0,14;24;21,Albergo
21,CSO MAGENTA num.019 ; (z.d. 1),NaN,NaN,NaN,NaN,NaN,48.0,8,4,hotel king,6.0,1;2;3;4;5;6,96.0,16;17;15,Albergo
24,CSO SEMPIONE num.091 ; (z.d. 8),NaN,NaN,NaN,NaN,NaN,113.0,0,4,enterprise hotel,NaN,NaN,216.0,0,Albergo
145,VIA FARINI CARLO num.001/a ; (z.d. 8),NaN,NaN,NaN,NaN,NaN,31.0,7;8;8;8,3,hotel san guido,4.0,1;2;3;4,47.0,11;12;12;12,Albergo
190,VIA LAMPEDUSA num.011/a ; (z.d. 5),NaN,NaN,NaN,NaN,NaN,106.0,17;4,4,quark due,7.0,1;2;3;4;5;6;7,229.0,36;13,Residence
206,VIA LORENTEGGIO num.278 ;,NaN,NaN,NaN,NaN,NaN,128.0,NaN,4,IDEA HOTEL MILANO LORENTEGGIO,NaN,NaN,242.0,NaN,Albergo
268,VIA PIERLUIGI GIOVANNI DA PALESTRINA num.030 ;...,NaN,NaN,NaN,NaN,NaN,45.0,20;19;6,2,hotel virgilio,3.0,5;6;7,63.0,32;25;6,Albergo
272,VIA PIERO DELLA FRANCESCA num.004/7 ; (z.d. 8),NaN,NaN,NaN,NaN,NaN,10.0,0,2,locanda gelsomina,1.0,NaN,25.0,0,Albergo
322,VIA SANTA RADEGONDA N. 14 (z.d. 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,VIA PELLICO SILVIO N. 8 (z.d. 1),NaN,NaN,NaN,NaN,NaN,18.0,0,l,town house galleria,NaN,NaN,25.0,0,Albergo
355,VIA STEPHENSON GIORGIO Int. 55,NaN,NaN,NaN,NaN,NaN,256.0,NaN,4,NaN,NaN,NaN,512.0,NaN,Albergo
383,VIA UGOLINI GIUSEPPE num.021/3 ; (z.d. 9),NaN,NaN,NaN,NaN,NaN,8.0,8,2,hotel greco,NaN,NaN,20.0,20,Albergo
443,VLE SUZZANI GIOVANNI num.013/15 ; (z.d. 9),NaN,NaN,NaN,NaN,NaN,131.0,33,3,hotel ibis milano ca granda,4.0,1;2;3;4,262.0,66,Albergo

In [8]:
data["Codice via"] #boh
data['Descrizione via'] #é IL NOME DELLA VIA

0      NAVIGLIO GRANDE
1                  NaN
2         BUENOS AIRES
3         BUENOS AIRES
4         BUENOS AIRES
            ...
446            TUNISIA
447            TUNISIA
448    VITTORIO VENETO
449               ZARA
450               ZARA
Name: Descrizione via, Length: 451, dtype: object

In [22]:
Split_1=data.Ubicazione.str.split(' ',n=1,expand=True)
data[['Tipologia','Altro']]=Split_1
data[data["Tipo via"]!=data["Tipologia"]] #Check that the old Tipo via is coherent
#Since they are coherent we can fix the null values
data["Tipo via"] = data["Tipologia"]
data = data.drop(["Tipologia"], axis = 1)
data.info()
data["Tipo via"].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ubicazione                    451 non-null    object
 1   Tipo via                      451 non-null    object
 2   Descrizione via               437 non-null    object
 3   Civico                        421 non-null    float64
 4   Codice via                    437 non-null    float64
 5   ZD                            437 non-null    float64
 6   Camere                        450 non-null    float64
 7   Camere piano                  345 non-null    object
 8   Categoria                     444 non-null    object
 9   Insegna                       441 non-null    object
 10  Piani totali                  187 non-null    float64
 11  Piano piano                   199 non-null    object
 12  Posti letto                   450 non-null    float64
 13  Posti letto per piano         345 non-null    object
 14  Tipo attività struture extra  441 non-null    object
 15  Altro                         451 non-null    object
dtypes: float64(6), object(10)
memory usage: 56.5+ KB

array(['ALZ', 'codvia', 'CSO', 'GLL', 'LGO', 'PLE', 'PZA', 'VIA', 'VLE'],
      dtype=object)

In [23]:
Split_2=data.Altro.str.split('z.d. ',n=1,expand=True)
data[['Nomeecivico','Muni']]=Split_2
data["Muni"]=data["Muni"].str.slice(-2,-1)
data["Muni"].unique()

array(['6', None, '3', '1', '5', '4', '8', '7', '9', '2'], dtype=object)

In [26]:
data[data["ZD"].fillna(-1).astype(int).astype(str)!=data["Muni"]] #Check that the old Tipo via is coherent
#There are some inconsistencies
#data.loc[data["Municipio"].isna(), "Municipio"] = data["Muni"]
data.loc[data["Muni"].isna(), "Muni"] = data["ZD"]
data[data["ZD"].fillna(-1).astype(int).astype(str)!=data["Muni"].fillna(-1).astype(int).astype(str)]
data["ZD"]=data["Muni"]
data = data.drop(["Muni"], axis = 1)
data=data.rename(columns={'ZD':'Municipio'})
data.info()
data["Municipio"].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ubicazione                    451 non-null    object
 1   Tipo via                      451 non-null    object
 2   Descrizione via               437 non-null    object
 3   Civico                        421 non-null    float64
 4   Codice via                    437 non-null    float64
 5   Municipio                     448 non-null    object
 6   Camere                        450 non-null    float64
 7   Camere piano                  345 non-null    object
 8   Categoria                     444 non-null    object
 9   Insegna                       441 non-null    object
 10  Piani totali                  187 non-null    float64
 11  Piano piano                   199 non-null    object
 12  Posti letto                   450 non-null    float64
 13  Posti letto per piano         345 non-null    object
 14  Tipo attività struture extra  441 non-null    object
 15  Altro                         451 non-null    object
 16  Nomeecivico                   451 non-null    object
dtypes: float64(5), object(12)
memory usage: 60.0+ KB

array(['6', nan, '3', '1', '5', '4', '8', '7', 1.0, '9', '2', 4.0, 9.0,
       8.0, 2.0], dtype=object)

In [27]:
data[data['Municipio'].isna()] #3 Null values are still present
data["Municipio"]

0        6
1      NaN
2        3
3        3
4        3
      ...
446      3
447      3
448      2
449      9
450      9
Name: Municipio, Length: 451, dtype: object

In [28]:
delim = ' N. | num.| Int. '
Split_3 = data.Nomeecivico.str.split(delim, n=1, expand=True, regex=True)
data[['Nome','Civ']]=Split_3
data['Nome'].unique()
data[data['Nome']!=data['Descrizione via']] #They are coherent
data['Descrizione via']=data['Nome']
data = data.drop(["Nome"], axis = 1)
data=data.rename(columns={'Descrizione via':'Nome via'})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ubicazione                    451 non-null    object
 1   Tipo via                      451 non-null    object
 2   Nome via                      451 non-null    object
 3   Civico                        421 non-null    float64
 4   Codice via                    437 non-null    float64
 5   Municipio                     448 non-null    object
 6   Camere                        450 non-null    float64
 7   Camere piano                  345 non-null    object
 8   Categoria                     444 non-null    object
 9   Insegna                       441 non-null    object
 10  Piani totali                  187 non-null    float64
 11  Piano piano                   199 non-null    object
 12  Posti letto                   450 non-null    float64
 13  Posti letto per piano         345 non-null    object
 14  Tipo attività struture extra  441 non-null    object
 15  Altro                         451 non-null    object
 16  Nomeecivico                   451 non-null    object
 17  Civ                           451 non-null    object
dtypes: float64(5), object(13)
memory usage: 63.6+ KB

In [29]:
data = data.drop(["Altro"], axis = 1)
data = data.drop(["Nomeecivico"], axis = 1)

In [30]:
data['Civ'].unique()
Split_4 = data.Civ.str.split(' ', n=1, expand=True)
data[['Num','Altro']]=Split_4
data

,Ubicazione,Tipo via,Nome via,Civico,Codice via,Municipio,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attività struture extra,Civ,Num,Altro
0,ALZ NAVIGLIO GRANDE N. 8 (z.d. 6),ALZ,NAVIGLIO GRANDE,8.0,5144.0,6,14.0,NaN,4,HOTEL MAISON BORELLA,NaN,NaN,25.0,NaN,Albergo,8 (,8,(
1,codvia 0000 num.024 ; (),codvia,0000,NaN,NaN,NaN,259.0,259,4,radisson blu hotel milan,NaN,NaN,518.0,518,Albergo,024 ; (),024,; ()
2,CSO BUENOS AIRES N. 18 (z.d. 3),CSO,BUENOS AIRES,18.0,2129.0,3,16.0,16,1,hotel aurora,1.0,1,25.0,25,Albergo,18 (,18,(
3,CSO BUENOS AIRES N. 26 (z.d. 3),CSO,BUENOS AIRES,26.0,2129.0,3,25.0,NaN,3,hotel buenos aires,NaN,NaN,39.0,NaN,Albergo,26 (,26,(
4,CSO BUENOS AIRES N. 2 (z.d. 3),CSO,BUENOS AIRES,2.0,2129.0,3,46.0,15;11;8,3,albergo fenice,4.0,1;2;3;4,98.0,24;19;13,Albergo,2 (,2,(
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,VLE TUNISIA N. 6 (z.d. 3),VLE,TUNISIA,6.0,2121.0,3,13.0,16,1,hotel kennedy,1.0,6,23.0,23,Albergo,6 (,6,(
447,VLE TUNISIA N. 9 (z.d. 3),VLE,TUNISIA,9.0,2121.0,3,50.0,3;6;9;9;9,4,st. george hotel,NaN,A;1;2;3;4,99.0,5;16;26;26;26,Albergo,9 (,9,(
448,VLE VITTORIO VENETO N. 30 (z.d. 2),VLE,VITTORIO VENETO,30.0,2107.0,2,15.0,NaN,2,hotel casa mia,NaN,NaN,25.0,NaN,Albergo,30 (,30,(
449,VLE ZARA N. 1 (z.d. 9),VLE,ZARA,1.0,1170.0,9,32.0,NaN,4,casa albergo residence zara lagosta,NaN,NaN,64.0,NaN,Residence,1 (,1,(
450,VLE ZARA N. 89 (z.d. 9),VLE,ZARA,89.0,1170.0,9,22.0,12;7;4,3,hotel gala,3.0,R;1;2,35.0,20;12;7,Albergo,89 (,89,(

In [31]:
data['Altro'].unique()

array(['(', ' ; ()', '; (', 'cinque stelle lusso; (',
       'sembra avere come indirizzo ufficiale corso buenos aires 42 ma ermes non riconosce il civico (',
       ';', 'subingresso con riduzione came; (',
       'r.t.a.con 23 alloggi e 24 p.l.; (', 'num.001 ; (', 'num.000 ; (',
       'suap; (', 'deleg. somministr. zheng ruile; (', '; ()',
       'residence cerva; (', 'numero civico 7/d; (', 'n. civico 19/b (',
       'iniziale; (', '3 e 4 piano; (', 'via goldoni 84 2^ piano; (',
       'licenza rilasciata dallo suap; (', 'angolo finocchiaro aprile; (',
       'annessa dipendenza 3 stelle; (',
       "attivita' promiscua rta e albe; (", '2^  e 4° piano; (',
       'rta due stelle-appartam 7-14pl; (', '1ø piano; (',
       'via san raffaele 7/9; (', 'Int. a (',
       'rilascio licenza dallo suap; (', None, 'sportello unico; (',
       'licenza rilasciata dallo sport; (', 'ang. via petrocchi n. 1; (',
       '2ø piano; ('], dtype=object)

In [32]:
data = data.drop(["Altro"], axis = 1)
data = data.drop(["Civ"], axis = 1)

In [33]:
data[data["Num"].fillna(-1).astype(str)!=data["Civico"].fillna(-1).astype(int).astype(str)]
data["Civico"]=data["Num"]
data = data.drop(["Num"], axis = 1)
data["Civico"].unique()

array(['8', '024', '18', '26', '2', '33', '3', '15', '1', '48', '64', '9',
       '68', '84', '34', '011/a', '4', '74', '61', '78', '019', '004/6',
       '69', '091', '32', '43', '55', '5', '10', '002', '12', '14', '22',
       '012/14', '6', '31', '25', '13', '17', '20', '16', '125', '30',
       '121', '79', '086/88', '001/a', '24', '006/b', '21', '59', '27',
       '004/a', '28', '46', '38', '37', '39', '47', '7', '71', '19', '29',
       '018/20', '93', '41', '010/12', '025/a', '11', '35', '73', '49',
       '40', '50', '117', '278', '77', '045/a', '83', '90', '371', '60',
       '153', '030', '004/7', '132', '143', '170', '52', '56', '87', '45',
       '102', '134', '76', '81', '012', '005/7', '23', '021/3', '85',
       '018/a', '42', '66', '67', '108', '88', '060/62', '12/13', '120',
       '139', '013/15', '300', '89'], dtype=object)

In [34]:
data['Civico'] = data['Civico'].str.lstrip('0')
data['Civico'].unique()

array(['8', '24', '18', '26', '2', '33', '3', '15', '1', '48', '64', '9',
       '68', '84', '34', '11/a', '4', '74', '61', '78', '19', '4/6', '69',
       '91', '32', '43', '55', '5', '10', '12', '14', '22', '12/14', '6',
       '31', '25', '13', '17', '20', '16', '125', '30', '121', '79',
       '86/88', '1/a', '6/b', '21', '59', '27', '4/a', '28', '46', '38',
       '37', '39', '47', '7', '71', '29', '18/20', '93', '41', '10/12',
       '25/a', '11', '35', '73', '49', '40', '50', '117', '278', '77',
       '45/a', '83', '90', '371', '60', '153', '4/7', '132', '143', '170',
       '52', '56', '87', '45', '102', '134', '76', '81', '5/7', '23',
       '21/3', '85', '18/a', '42', '66', '67', '108', '88', '60/62',
       '12/13', '120', '139', '13/15', '300', '89'], dtype=object)

In [35]:
data.info()
data[data['Municipio'].isna()]
#data[data['Nome via']=='LORENTEGGIO']
#data[data['Nome via']=='STEPHENSON GIORGIO']
#There are non other vie with this name from which to extract the Municipio

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ubicazione                    451 non-null    object
 1   Tipo via                      451 non-null    object
 2   Nome via                      451 non-null    object
 3   Civico                        451 non-null    object
 4   Codice via                    437 non-null    float64
 5   Municipio                     448 non-null    object
 6   Camere                        450 non-null    float64
 7   Camere piano                  345 non-null    object
 8   Categoria                     444 non-null    object
 9   Insegna                       441 non-null    object
 10  Piani totali                  187 non-null    float64
 11  Piano piano                   199 non-null    object
 12  Posti letto                   450 non-null    float64
 13  Posti letto per piano         345 non-null    object
 14  Tipo attività struture extra  441 non-null    object
dtypes: float64(4), object(11)
memory usage: 53.0+ KB

,Ubicazione,Tipo via,Nome via,Civico,Codice via,Municipio,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attività struture extra
1,codvia 0000 num.024 ; (),codvia,0000,24,NaN,NaN,259.0,259,4,radisson blu hotel milan,NaN,NaN,518.0,518,Albergo
206,VIA LORENTEGGIO num.278 ;,VIA,LORENTEGGIO,278,NaN,NaN,128.0,NaN,4,IDEA HOTEL MILANO LORENTEGGIO,NaN,NaN,242.0,NaN,Albergo
355,VIA STEPHENSON GIORGIO Int. 55,VIA,STEPHENSON GIORGIO,55,NaN,NaN,256.0,NaN,4,NaN,NaN,NaN,512.0,NaN,Albergo

In [36]:
data['Categoria'].unique()
data=data.rename(columns={'Categoria':'Stelle'})

In [37]:
data['Tipo attività struture extra'].unique()
data=data.rename(columns={'Tipo attività struture extra':'Tipo struttura'})
data.loc[data['Tipo struttura']=='albergo', "Tipo struttura"] = "Albergo"
data['Tipo struttura'].unique()

array(['Albergo', 'Residence', nan], dtype=object)

In [38]:
data[data['Tipo struttura'].isna()]
condition = data["Insegna"].str.contains("hotel", case=False, na=False)
data.loc[condition, "Tipo struttura"] = "Albergo"
data[data['Tipo struttura'].isna()]

,Ubicazione,Tipo via,Nome via,Civico,Codice via,Municipio,Camere,Camere piano,Stelle,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo struttura
182,VIA HAJECH CAMILLO N. 18 (z.d. 4),VIA,HAJECH CAMILLO,18,3091.0,4,11.0,0,2,la caravella,NaN,NaN,16.0,0,NaN
322,VIA SANTA RADEGONDA N. 14 (z.d. 1),VIA,SANTA RADEGONDA,14,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
#Salvo i dati ottenuti fino a questo passaggio
data.to_csv('Dataset_indirizzi_sistemati.csv')

In [40]:
data=pd.read_csv('Dataset_indirizzi_sistemati.csv')
data = data.drop(["Unnamed: 0"], axis = 1)
data

,Ubicazione,Tipo via,Nome via,Civico,Codice via,Municipio,Camere,Camere piano,Stelle,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo struttura
0,ALZ NAVIGLIO GRANDE N. 8 (z.d. 6),ALZ,NAVIGLIO GRANDE,8,5144.0,6.0,14.0,NaN,4,HOTEL MAISON BORELLA,NaN,NaN,25.0,NaN,Albergo
1,codvia 0000 num.024 ; (),codvia,0000,24,NaN,NaN,259.0,259,4,radisson blu hotel milan,NaN,NaN,518.0,518,Albergo
2,CSO BUENOS AIRES N. 18 (z.d. 3),CSO,BUENOS AIRES,18,2129.0,3.0,16.0,16,1,hotel aurora,1.0,1,25.0,25,Albergo
3,CSO BUENOS AIRES N. 26 (z.d. 3),CSO,BUENOS AIRES,26,2129.0,3.0,25.0,NaN,3,hotel buenos aires,NaN,NaN,39.0,NaN,Albergo
4,CSO BUENOS AIRES N. 2 (z.d. 3),CSO,BUENOS AIRES,2,2129.0,3.0,46.0,15;11;8,3,albergo fenice,4.0,1;2;3;4,98.0,24;19;13,Albergo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,VLE TUNISIA N. 6 (z.d. 3),VLE,TUNISIA,6,2121.0,3.0,13.0,16,1,hotel kennedy,1.0,6,23.0,23,Albergo
447,VLE TUNISIA N. 9 (z.d. 3),VLE,TUNISIA,9,2121.0,3.0,50.0,3;6;9;9;9,4,st. george hotel,NaN,A;1;2;3;4,99.0,5;16;26;26;26,Albergo
448,VLE VITTORIO VENETO N. 30 (z.d. 2),VLE,VITTORIO VENETO,30,2107.0,2.0,15.0,NaN,2,hotel casa mia,NaN,NaN,25.0,NaN,Albergo
449,VLE ZARA N. 1 (z.d. 9),VLE,ZARA,1,1170.0,9.0,32.0,NaN,4,casa albergo residence zara lagosta,NaN,NaN,64.0,NaN,Residence
450,VLE ZARA N. 89 (z.d. 9),VLE,ZARA,89,1170.0,9.0,22.0,12;7;4,3,hotel gala,3.0,R;1;2,35.0,20;12;7,Albergo

In [41]:
data["Tipo via"].unique() #codvia is an outlier

array(['ALZ', 'codvia', 'CSO', 'GLL', 'LGO', 'PLE', 'PZA', 'VIA', 'VLE'],
      dtype=object)

In [42]:
data[data["Tipo via"]=='codvia']

,Ubicazione,Tipo via,Nome via,Civico,Codice via,Municipio,Camere,Camere piano,Stelle,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo struttura
1,codvia 0000 num.024 ; (),codvia,0000,24,NaN,NaN,259.0,259,4,radisson blu hotel milan,NaN,NaN,518.0,518,Albergo

In [43]:
key_cols = ["Tipo via", "Nome via"]

# 2. Raggruppa il DataFrame in base alle colonne chiave e calcola il primo
#    valore non nullo di "Codice via" all'interno di ciascun gruppo.
#    Il metodo transform('first') propaga questo valore a tutte le righe del gruppo.
codice_via_propagato = data.groupby(key_cols)["Codice via"].transform('first')

# 3. Usa i valori propagati per riempire (fillna) i NaN nella colonna originale.
data["Codice via"] = data["Codice via"].fillna(codice_via_propagato)

In [44]:
data[data["Codice via"].isnull()] #The number of null code reduced a lot

,Ubicazione,Tipo via,Nome via,Civico,Codice via,Municipio,Camere,Camere piano,Stelle,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo struttura
1,codvia 0000 num.024 ; (),codvia,0000,24,NaN,NaN,259.0,259,4,radisson blu hotel milan,NaN,NaN,518.0,518,Albergo
145,VIA FARINI CARLO num.001/a ; (z.d. 8),VIA,FARINI CARLO,1/a,NaN,8.0,31.0,7;8;8;8,3,hotel san guido,4.0,1;2;3;4,47.0,11;12;12;12,Albergo
206,VIA LORENTEGGIO num.278 ;,VIA,LORENTEGGIO,278,NaN,NaN,128.0,NaN,4,IDEA HOTEL MILANO LORENTEGGIO,NaN,NaN,242.0,NaN,Albergo
268,VIA PIERLUIGI GIOVANNI DA PALESTRINA num.030 ;...,VIA,PIERLUIGI GIOVANNI DA PALESTRINA,30,NaN,2.0,45.0,20;19;6,2,hotel virgilio,3.0,5;6;7,63.0,32;25;6,Albergo
322,VIA SANTA RADEGONDA N. 14 (z.d. 1),VIA,SANTA RADEGONDA,14,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,VIA PELLICO SILVIO N. 8 (z.d. 1),VIA,PELLICO SILVIO,8,NaN,1.0,18.0,0,l,town house galleria,NaN,NaN,25.0,0,Albergo
355,VIA STEPHENSON GIORGIO Int. 55,VIA,STEPHENSON GIORGIO,55,NaN,NaN,256.0,NaN,4,NaN,NaN,NaN,512.0,NaN,Albergo
383,VIA UGOLINI GIUSEPPE num.021/3 ; (z.d. 9),VIA,UGOLINI GIUSEPPE,21/3,NaN,9.0,8.0,8,2,hotel greco,NaN,NaN,20.0,20,Albergo

In [43]:
data[data["Insegna"].isnull()]

,Ubicazione,Tipo via,Nome via,Civico,Codice via,Municipio,Camere,Camere piano,Stelle,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo struttura
9,CSO CONCORDIA N. 1 (z.d. 3),CSO,CONCORDIA,1,3116.0,3.0,77.0,NaN,5,NaN,NaN,NaN,180.0,NaN,Albergo
62,PZA SANT' EUSTORGIO N. 2 (z.d. 1),PZA,SANT' EUSTORGIO,2,5186.0,1.0,22.0,NaN,3,NaN,NaN,NaN,38.0,NaN,Albergo
87,VIA BREMBO N. 27 (z.d. 5),VIA,BREMBO,27,4219.0,5.0,55.0,NaN,2,NaN,NaN,NaN,99.0,NaN,Residence
148,VIA FELTRE N. 19 n. civico 19/b (z.d. 3),VIA,FELTRE,19,2652.0,3.0,38.0,NaN,4,NaN,NaN,NaN,70.0,NaN,Albergo
185,VIA IPPODROMO N. 8 (z.d. 8),VIA,IPPODROMO,8,6492.0,8.0,116.0,NaN,2,NaN,NaN,NaN,232.0,NaN,Residence
248,VIA ORSEOLO PIETRO N. 1 (z.d. 6),VIA,ORSEOLO PIETRO,1,5113.0,6.0,59.0,NaN,4,NaN,NaN,NaN,101.0,NaN,Albergo
322,VIA SANTA RADEGONDA N. 14 (z.d. 1),VIA,SANTA RADEGONDA,14,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,VIA SAN TOMASO N. 8 Int. a (z.d. 1),VIA,SAN TOMASO,8,723.0,1.0,11.0,NaN,4,NaN,NaN,NaN,22.0,NaN,Albergo
355,VIA STEPHENSON GIORGIO Int. 55,VIA,STEPHENSON GIORGIO,NaN,NaN,NaN,256.0,NaN,4,NaN,NaN,NaN,512.0,NaN,Albergo
388,VIA VENEZIA GIULIA N. 9 (z.d. 8),VIA,VENEZIA GIULIA,9,7500.0,8.0,115.0,NaN,4,NaN,NaN,NaN,230.0,NaN,Albergo

## Error detection and correction

## Data duplication