# **1. DATA QUALITY ASSESSMENT**

Import libraries:

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
import os

Import data:

In [ ]:
BEERS = pd.read_csv("https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/BEERS.csv")
BEERS

,abv,ibu,id,name,style,brewery_id,ounces
0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,66.000,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,71.000,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,75.000,NaN,2262,Sex and Candy,American IPA,177,12.0
...,...,...,...,...,...,...,...
2414,67.000,45.0,928,Belgorado,Belgian IPA,424,12.0
2415,0.052,NaN,807,Rail Yard Ale,American Amber / Red Ale,424,12.0
2416,55.000,NaN,620,B3K Black Lager,Schwarzbier,424,12.0
2417,55.000,40.0,145,Silverback Pale Ale,American Pale Ale (APA),424,12.0
2418,0.052,NaN,84,Rail Yard Ale (2009),American Amber / Red Ale,424,12.0

Basic operation to inspect data:

In [ ]:
#number of tuples and columns of the data source
BEERS.shape

(2419, 7)

In [ ]:
#show the schema of the data source
BEERS.columns

for c in BEERS.columns:
  print(c)

abv
ibu
id
name
style
brewery_id
ounces

In [ ]:
#show the first 5 tuples of the data source
BEERS.head(5)

,abv,ibu,id,name,style,brewery_id,ounces
0,0.05,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,66.00,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,71.00,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,0.09,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,75.00,NaN,2262,Sex and Candy,American IPA,177,12.0

In [ ]:
#head(K) shows the first K lines of the data source

In [ ]:
#for each attribute the system shows the type of data. The type of data is defined analyzing the values
BEERS.dtypes

In [ ]:
#unique display the list of distinct values in a column
BEERS['brewery_id']

0       408
1       177
2       177
3       177
4       177
       ...
2414    424
2415    424
2416    424
2417    424
2418    424
Name: brewery_id, Length: 2419, dtype: object

In [ ]:
#nunique counts the number of distinct values
BEERS['brewery_id'].unique()
BEERS['brewery_id'].nunique() #for numbers

array(['408', '177', '154', '368', '67', '60', '27', '481', '373', '462',
       '533', '62', '1', '367', '117', '270', '73', '388', '401', '35',
       '171', 'Gose', '146', '542', '434', '193', '69', '541', '513',
       '426', '461', '429', '528', '353', '523', '374', '72', '413', '37',
       '360', '235', '286', '483', '34', '318', '20', '251', '116', '258',
       '292', '306', '103', '76', '53', '75', '278', '463', '220', '477',
       '8', '40', '519', '336', '221', '444', '70', '407', '18', '112',
       '294', '79', '95', '12', '380', '422', '304', '382', '414', '77',
       '489', '364', '378', '281', '525', '107', '231', '300', '417',
       '31', '167', '219', '207', '195', '391', 'Fruit / Vegetable Beer',
       '308', '19', '85', '10', '467', '89', '493', '437', '530', '357',
       '56', '214', '24', '197', '517', '556', '5', '182', '155', '178',
       '497', '230', '267', '192', '504', '179', '222', '404', '331',
       '285', '96', '29', '452', '122', '350', '236', '250', '226', '121',
       '99', '526', '425', '141', '145', '320', '418', '415', '101',
       '232', '482', '139', '512', '553', '515', '63', '247', '169',
       '212', '472', '315', '323', '227', '451', '358', '554', '333',
       '330', '127', '283', '453', '263', '454', '57', '237', '491',
       '319', '311', '488', '531', '446', '496', '340', '538', '369',
       '352', '516', '465', '473', '81', '170', '26', '173', '335', '224',
       '405', '201', '172', '36', '256', '48', '16', '532', '54', '521',
       '50', '279', '217', '206', '151', '4', '15', '287', '22', '348',
       '160', '105', '253', '66', '460', '433', '180', '347', '228',
       '106', '240', '39', '464', '478', '194', '196', '88', '420', '536',
       '213', '165', '6', '543', '269', '365', '466', '156', '86', '379',
       '124', '144', '290', '327', '248', '476', '343', '234', '535',
       '204', '280', '479', '423', '168', '500', '362', '349', '297',
       '198', '395', '136', '80', '120', '445', '277', '140', '23', '242',
       '527', '123', '316', '2', '416', '312', '92', '114', '32', '233',
       '208', '125', '342', '458', '510', '84', '102', '87', '439', '505',
       '354', '332', '545', '59', '218', '345', '406', '537', '244',
       '298', '104', '149', '268', '41', '430', '377', '456', '245',
       '158', '485', '400', '91', '303', '534', '356', '346', '443',
       '317', '161', '299', '375', '448', '254', '203', '393', '552',
       '223', '3', '65', '363', '440', '284', '134', '98', '399', '547',
       '189', '209', '549', '514', '276', '326', '111', '540', '188',
       '260', '507', '366', '143', '387', '337', '325', '82', '410',
       '174', '241', '518', '238', '495', '305', '359', '431', '0', '293',
       '450', '529', '271', '442', '150', '184', '200', '148', '471',
       '301', '390', '216', '166', '503', '389', '275', '261', '259',
       '341', '441', '307', '468', '266', '187', '205', '13', '470', '11',
       '157', '355', '310', '314', '52', '324', '370', '147', '55', '274',
       '548', '135', '544', '246', '176', '128', '475', '68', '403',
       '487', '421', '225', '110', '386', '44', '93', '162', '42', '459',
       '321', '43', '427', '229', '289', '376', '164', '397', '288', '30',
       '419', '252', '392', '398', '394', '428', '502', '432', '411',
       '494', '183', '130', '511', '385', '83', '137', '551', '46', '264',
       '313', '64', '557', '163', '371', '115', '191', '309', '257',
       '249', '436', '133', '118', '78', '508', '175', '498', '372',
       '186', '383', '119', '131', '486', '255', '492', '412', '129',
       '138', '58', '25', '455', '61', '447', '381', '49', '449', '45',
       '409', '490', '7', '28', '480', '210', '469', '215', '272', '457',
       '262', '329', '33', '328', '90', '484', '9', '438', '334', '142',
       '108', '153', '273', '21', '282', '17', '152', '291', '474', '265',
       '524', '97', '539', '520', '38', '190', '74', '243', '435', '159',
       '555', '126', '338', '522', '71', '202', '51', '546', '302', '185',
       '113', '322', '295', '506', '94', '100', '384', '351', '132', '47',
       '396', '296', '361', '181', '499', '550', '509', '211', '239',
       '14', '344', '402', '501', '109', '339', '199', '424'],
      dtype=object)

In [ ]:
#value_counts() returns an object containing counts for each unique value
BEERS['brewery_id'].value_counts()
BEERS['brewery_id'].value_counts().value_counts()  #<- to see uniformity, distribution

count
1     128
2     113
3      83
4      69
5      42
6      29
7      21
8      17
9      12
12      8
10      6
13      5
11      4
14      4
17      3
19      3
20      2
18      2
25      2
23      1
22      1
38      1
62      1
34      1
15      1
16      1
Name: count, dtype: int64

In [ ]:
#here we want to inspect how many unique values have the same count

**DUPLICATION**

Duplication occurs when a real-world entity is stored twice or more in a data source.

*Definition*: A measure of unwanted duplication existing within a data set.

*Evaluation*: Number of duplicates

In [ ]:
BEERS = pd.read_csv("https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/BEERS.csv", header=None)

In [ ]:
#duplicated returns a boolean Series denoting the duplicate rows (exact matching)
BEERS.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2414    False
2415    False
2416    False
2417    False
2418    False
Length: 2419, dtype: bool

In [ ]:
#any shows if duplicates exist
BEERS.duplicated().any()

np.True_

In [ ]:
BEERS[BEERS.duplicated()]

,abv,ibu,id,name,style,brewery_id,ounces
1582,0.08,35.0,5,Old Chub,Scottish Ale,166,12.0
1606,55.00,55.0,1946,Overgrown American Pale Ale,American Pale Ale (APA),261,12.0
1676,57.00,68.0,711,Over the Rail Pale Ale,American Pale Ale (APA),135,12.0
1748,62.00,NaN,2373,Oktoberfest,Märzen / Oktoberfest,43,12.0
1826,0.05,45.0,1324,Schlafly Yakima Wheat Ale,American Pale Wheat Ale,428,12.0
1882,0.06,48.0,512,Autumnation (2011-12) (2011),Pumpkin Ale,46,16.0
2291,65.00,33.0,1932,Thai Style White IPA,American White IPA,51,12.0
2340,0.07,NaN,2222,10 Ton,Oatmeal Stout,94,16.0
2406,45.00,25.0,1514,Easy Day Kolsch,Kölsch,199,12.0

**COMPLETENESS**

The completeness of a table characterizes the extent to which a table represents the corresponding real world.

Completeness in the relational model can be characterized by the presence of null values. In a model with null values, the presence of a null value has the general meaning of a missing value, i.e., a value that exist in the real-world but it is not available.

*Definition*: The degree to which a given data collection includes the data describing the corresponding set of real-world objects.

*Evaluation*: Number of not null values / Total number of values

In [ ]:
BEERS = pd.read_csv('https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/BEERS.csv')

In [ ]:
#isnull() shows which values are null
BEERS.isnull()

        abv    ibu     id   name  style  brewery_id  ounces
0     False   True  False  False  False       False   False
1     False   True  False  False  False       False   False
2     False   True  False  False  False       False   False
3     False   True  False  False  False       False   False
4     False   True  False  False  False       False   False
...     ...    ...    ...    ...    ...         ...     ...
2414  False  False  False  False  False       False   False
2415  False   True  False  False  False       False   False
2416  False   True  False  False  False       False   False
2417  False  False  False  False  False       False   False
2418  False   True  False  False  False       False   False

[2419 rows x 7 columns]

In [ ]:
BEERS['ibu'].isnull()

In [ ]:
#display the number of not null values for each column
BEERS.count()

In [ ]:
#total number of not null values
NOT_NULL = BEERS.count().sum()

In [ ]:
#display the number of null values for each column

In [ ]:
#total number of null values
BEERS.isnull().sum().sum()

np.int64(1074)

In [ ]:
#total number of cells
TOT = NOT_NULL + NULL

COMPLETENESS EVALUATION:

In [ ]:
COMPLETENESS = '{:,2%}'NOT_NULL/TOT

Dealing with missing values with a different format:

In [ ]:
MISSING = ['--', 'na']
PROPERTY = pd.read_csv('https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/PROPERTY.csv', na_values = MISSING)

In [ ]:
#we added to the set of missing values also 'na' and '--'

PROPERTY = pd.read_csv('https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/PROPERTY.csv') #, na_values = MISSING)

**ACCURACY**

*Definition*: The extent to which data are correct, reliable and certified.

Syntactic Accuracy is the closeness of a value v to the elements of the corresponding definition domain D.

Semantic Accuracy is defined as the closeness between a data value v and a data value v’.

It is possible to calculate the accuracy of an attribute, i.e., attribute (or column) accuracy, of a relation, i.e., relation accuracy, or of a whole database, i.e., database accuracy.

*Evaluation*: Number of accurate values / Total number of values

In [ ]:
#the styles data source contains the list of correct values for the attribute style in beers
STYLES = pd.read_csv('https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/STYLES.csv')
STYLES

                               style
0                American Pale Lager
1            American Pale Ale (APA)
2                       American IPA
3     American Double / Imperial IPA
4                       American IPA
...                              ...
2405                     Belgian IPA
2406        American Amber / Red Ale
2407                     Schwarzbier
2408         American Pale Ale (APA)
2409        American Amber / Red Ale

[2410 rows x 1 columns]

In [ ]:
#now we check if the values attribute style in beers contain errors
BEERS = pd.read_csv('https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/BEERS.csv')

In [ ]:
#correct values in beers are the ones contained in styles
BEERS['style'].isin(STYLES['style'])

0       True
1       True
2       True
3       True
4       True
        ...
2414    True
2415    True
2416    True
2417    True
2418    True
Name: style, Length: 2419, dtype: bool

In [ ]:
#we sum the true values in correct
CORRECT = np.sum(BEERS['style'].isin(STYLES['style']))
CORRECT

np.int64(2406)

In [ ]:
#we count the not null values of the column style in beers
NOT_NULL = BEERS['style'].count()
NOT_NULL

np.int64(2414)

ACCURACY EVALUATION:

In [ ]:
ACCURACY_STYLE = CORRECT/NOT_NULL #for value style
print("Accuracy:", ACCURACY_STYLE*100, "%")

Accuracy: 99.66859983429993 %

In [ ]:
#we assume that the values of attribute ibu in beers are correct only if they belong to a 5 to 100 range
RANGE = range(5, 100)

range(5, 100)

In [ ]:
#check Accuracy of ibu considering the acceptance range
CORRECT_IBU = sum(1 for item in BEERS['ibu'] if item in RANGE)
CORRECT_IBU

1360

In [ ]:
NOT_NULL_IBU = BEERS['ibu'].count()
NOT_NULL_IBU

np.int64(1412)

In [ ]:
ACCURACY_IBU = CORRECT_IBU/NOT_NULL_IBU
print("Accuracy:", f'{ACCURACY_IBU*100:.2f}',"%")

Accuracy: 96.32 %

**TIMELINESS**

*Definition*: The extent to which age of the data is appropriate for the task at hand.

Timeliness has two components: currency and volatility. Currency is a measure of how old the information is, based on how long ago it was recorded. Volatility is a measure of information instability/the frequency of change of the value for an entity attribute.
Currency = Age + (Delivery Time - Input Time)

*Evaluation*: Max(0, 1 - Currency/Volatility)

In [ ]:

PROPERTY = pd.read_csv('https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/PROPERTY.csv')#, parse_dates=['TS_UPDATE'], date_parser=dateparse)

In [ ]:
PROPERTY['TS_UPDATE'] = pd.to_datetime(PROPERTY['TS_UPDATE'], format ='%d/%m/%Y') #date in right format

In [ ]:
PROPERTY.dtypes #to check

ID                       int64
ST_NUM                 float64
ST_NAME                 object
OWN_OCCUPIED            object
NUM_BEDROOMS            object
NUM_BATH                object
SQ_FT                   object
TS_UPDATE       datetime64[ns]
dtype: object

In [ ]:
#we assume that Volatility (the time in which information is valid in the real-world) is 80 days
#we assume also that the data are stored immediately (age = 0)
#now we compute the Currency and we add a column with its value for each tuple
VOLATILITY = 80
today = datetime(2022, 10, 3)

In [ ]:
PROPERTY['currency'] = today - PROPERTY['TS_UPDATE']
PROPERTY

,ID,ST_NUM,ST_NAME,OWN_OCCUPIED,NUM_BEDROOMS,NUM_BATH,SQ_FT,TS_UPDATE,currency
0,100001000,104.0,PUTNAM,Y,3,1,1000,2022-08-11,53 days
1,100002000,197.0,LEXINGTON,N,3,1.5,--,2022-06-22,103 days
2,100003000,NaN,LEXINGTON,N,NaN,1,850,2022-09-10,23 days
3,100004000,201.0,BERKELEY,12,1,NaN,700,2022-08-16,48 days
4,100005000,203.0,BERKELEY,Y,3,2,1600,2022-08-31,33 days
5,100006000,207.0,BERKELEY,Y,NaN,1,800,2022-09-15,18 days
6,100007000,NaN,WASHINGTON,NaN,2,HURLEY,950,2022-08-21,43 days
7,100008000,213.0,TREMONT,Y,1,1,70,2022-07-12,83 days
8,100009000,215.0,TREMONT,Y,na,2,1800,2022-07-25,70 days
9,100010000,216.0,BERELEY,Y,1,3,10,2022-09-27,6 days
10,100011000,10.0,LEINGTON,N,2,1,800,2022-08-21,43 days
11,100012000,213.0,TREMONT,Y,1,1,78,2022-07-12,83 days

In [ ]:
PROPERTY['currency'] = PROPERTY['currency'].dt.days #to extract only numerical part
PROPERTY

,ID,ST_NUM,ST_NAME,OWN_OCCUPIED,NUM_BEDROOMS,NUM_BATH,SQ_FT,TS_UPDATE,currency
0,100001000,104.0,PUTNAM,Y,3,1,1000,2022-08-11,53
1,100002000,197.0,LEXINGTON,N,3,1.5,--,2022-06-22,103
2,100003000,NaN,LEXINGTON,N,NaN,1,850,2022-09-10,23
3,100004000,201.0,BERKELEY,12,1,NaN,700,2022-08-16,48
4,100005000,203.0,BERKELEY,Y,3,2,1600,2022-08-31,33
5,100006000,207.0,BERKELEY,Y,NaN,1,800,2022-09-15,18
6,100007000,NaN,WASHINGTON,NaN,2,HURLEY,950,2022-08-21,43
7,100008000,213.0,TREMONT,Y,1,1,70,2022-07-12,83
8,100009000,215.0,TREMONT,Y,na,2,1800,2022-07-25,70
9,100010000,216.0,BERELEY,Y,1,3,10,2022-09-27,6
10,100011000,10.0,LEINGTON,N,2,1,800,2022-08-21,43
11,100012000,213.0,TREMONT,Y,1,1,78,2022-07-12,83

In [ ]:
#adding a column with the Timeliness computation
#if Volatility is greater than Currency the Timeliness is equal to 1 - Currency / Volatility, otherwise is 0
PROPERTY['Timeliness'] = np.where(VOLATILITY > PROPERTY['currency'] ,
                                  1 - PROPERTY['currency']/VOLATILITY,
                                  0)

In [ ]:
print("Average Timeliness: ", PROPERTY['Timeliness'].mean())
print("Maximum  Timeliness:", PROPERTY['Timeliness'].max())
print("Minimum Timeliness:", PROPERTY['Timeliness'].min())

Average Timeliness:  0.39895833333333336
Maximum  Timeliness: 0.925
Minimum Timeliness: 0.0

**CONSISTENCY**

The consistency dimension captures the violation of semantic rules defined over (a set of) data items, where items can be tuples of relational tables or records in a file.

Semantic rules can be integrity constaints, data edits or business rules.

*Definition*: The satisfaction of semantic rules defined over a set of data items.

*Evaluation*: Number of consistent tuples / Total number of tuples

In [ ]:
PROPERTY = pd.read_csv('https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/PROPERTY.csv')

In [55]:
#we define a rule that the number of bathrooms should be lower than the number of bedrooms
#we add the column consistency
#we assign the value 1 if the rule is satisfied, 0 otherwise

#fix the error into NUM_BATH column
PROPERTY['NUM_BATH'] = pd.to_numeric(PROPERTY['NUM_BATH'], errors='coerce')

PROPERTY['consistency'] = np.where(PROPERTY['NUM_BATH'] >= PROPERTY['NUM_BEDROOMS'],
                                   0,
                                   1)
PROPERTY.head(10)

TypeError: '>=' not supported between instances of 'float' and 'str'

In [56]:
#exclude null vales in NUM_BATH and NUM_BEDROOMS
PROPERTY_COUNT = PROPERTY[((PROPERTY['NUM_BATH'].notna()) & (PROPERTY['NUM_BEDROOMS'].notna()))]
PROPERTY_COUNT

,ID,ST_NUM,ST_NAME,OWN_OCCUPIED,NUM_BEDROOMS,NUM_BATH,SQ_FT,TS_UPDATE,consistency
0,100001000,104.0,PUTNAM,Y,3,1.0,1000,11/8/2022,1
1,100002000,197.0,LEXINGTON,N,3,1.5,--,22/6/2022,1
4,100005000,203.0,BERKELEY,Y,3,2.0,1600,31/8/2022,1
7,100008000,213.0,TREMONT,Y,1,1.0,70,12/7/2022,0
8,100009000,215.0,TREMONT,Y,na,2.0,1800,25/7/2022,1
9,100010000,216.0,BERELEY,Y,1,3.0,10,27/9/2022,0
10,100011000,10.0,LEINGTON,N,2,1.0,800,21/8/2022,1
11,100012000,213.0,TREMONT,Y,1,1.0,78,12/7/2022,0

In [57]:
#count the number of consistent tuples considering the rule
CONSISTENT = sum(PROPERTY_COUNT['consistency'] == 1)
CONSISTENT

5

In [58]:
#count the total number of tuples in the property dataset
ROWS = PROPERTY.shape[0]
ROWS

12

In [60]:
#count the total number of tuples in the property dataset (excluding null values)
COUNT = PROPERTY_COUNT['consistency'].count()
COUNT

np.int64(8)

CONSISTENCY EVALUATION:

In [61]:
CONSISTENCY = CONSISTENT/COUNT*100
print('Consistency:', CONSISTENCY, '%')

Consistency: 62.5 %